<div id="<%= dom_id maintenance %>">
  <p>
    <strong>Motivo de Mantenimiento:</strong>
    <%= maintenance.maintenance_reason_id %>
  </p>

  <p>
    <strong>Bomba:</strong>
    <%= maintenance.pump_id %>
  </p>

  <p>
    <strong>Fecha:</strong>
    <%= maintenance.date %>
  </p>

  <p>
    <strong>Descripcion:</strong>
    <%= maintenance.description %>
  </p>

</div>
