<div id="<%= dom_id pump %>">
  <p>
    <strong>Modelo:</strong>
    <%= pump.model %>
  </p>

  <p>
    <strong>Nombre:</strong>
    <%= pump.name %>
  </p>

  <p>
    <strong>Largo:</strong>
    <%= pump.length %>
  </p>

  <p>
    <strong>Material:</strong>
    <%= pump.material %>
  </p>

  <p>
    <strong>Cliente:</strong>
    <%= pump.client.name %>
  </p>

</div>